* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Mukta', sans-serif;
}

.calculator input {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 16px;
}



/* FOOTER SECTION */

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}